[[extend "layout.html"]]
<div class="section">

  <h1 class="title">Cowells</h1>
  <div class="column is-two-thirds">
      <div class="box">
        Surf(ft)
        <div class="table-container">
          <table class="table">
            <thead>
                <tr>
                    <th>
                        6pm
                    </th>
                    <th>
                        9pm
                    </th>
                    <th>
                        12pm
                    </th>
                </tr>
            </thead> 
          </table>
        </div>
        </div>
        <div class="box">
        Swell(ft)
        </div>
        <div class="box">
        Wind Direction
        <span class="icon"><i class="mdi mdi-arrow-down-bold"></i>hi</span>
        </div>
        <div class="box">
        Tide (ft)
        <div class="table-container">
          <table class="table is-bordered">
            <tbody>
                <tr>
                    <th>Low</th>
                    <td>4:45am</td>
                    <td>0.0ft</td>
                </tr>
                <tr>
                    <th>High</th>
                    <td>11:29am</td>
                    <td>3.9ft</td>
                </tr>
                <tr>
                    <th>Low</th>
                    <td>4:25pm</td>
                    <td>1.8ft</td>
                </tr>
                <tr>
                    <th>High</th>
                    <td>10:34pm</td>
                    <td>5.2ft</td>
                </tr>
            </tbody>
          </table>
        </div>
        </div>
        <div class="box">
        Weather (&degF)
        </div>
  </div>
    
 
</div>